
@(lol:String)

<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">

    </head>
    <body> 

        <div class="login-page">
            <h3 id = "header_top" > @(lol)</h3>
            <div class="form">
                <form class = "login-form"method="post" action="@routes.Application.logoutSubmit">
                    <button type="submit" class="flat-button"> Logout</button>
                </form>
            </div>

        </div>
    </body>
</html>
